*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
    height: 100%;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

.cabezera{
    background-color: rgb(43, 0, 100);
    padding: 0;
    max-width: auto;
    margin: auto;
    display: flex;
    height: 200px;
}
.cabezera img{
    width: 230px;
    height: 230px;
    padding-top: -30px ;
    justify-content: left;
}
.cabezera h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-decoration: solid;
    padding: 10px;
    padding-top: 50px;
    font-family: "Poppins", serif;
    font-weight: 400;
    animation: colores 3s infinite;
}

@keyframes colores {
    0%{ color: rgb(84, 84, 238);}
    25%{color: rgb(88, 88, 219);}
    50%{color: rgb(127, 143, 233);}
    75%{color: rgb(173, 188, 230);}
    100%{color : rgb(176, 194, 245);}
}


.menu {
    padding: 10px 650px;
}

.menu ul {
    list-style: none;
    padding-top: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.chat{
    padding: 40px;
}

.chat h2{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 100px;
}

.chat input{
    width: 80%;
    height: 30px;
    border-radius: 10px;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container-slider
{
    position: relative;
    display: block;
    width: 100%;
}
#slider {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 50px;
}
#slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2; 
}
#container-slider .arrowNext {
    left: initial;
    right: 50px !important;
}
.content_slider{
    padding: 15px 30px;
    color: #FFF;
    width: 100%;
    height: 100%;
}
.content_slider div{
    text-align: center;
}
.content_slider h2{
    font-family: 'arial';
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content_slider p {
    font-size: 15pt;
    font-family: 'arial';
    color: #FFF;
    margin-bottom: 20px;
}
#slider li .content_slider{
    background: rgba(0, 0, 0, 0.50);
    padding: 10px 125px;
}
.content_slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSlider{
    color: #FFF;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #CCC;
    background: rgba(37, 40, 80, 0.55);
    border-radius: 31px;
    text-decoration: none;
    transition: .5s all;
}
.btnSlider:hover{
    background: #111;
    border: 1px solid #111;
}
.listslider {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 2;
    transform: translateX(-50%);
}
.listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a {
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid {
    background: #FFF  !important;
}

@media screen and (max-width: 460px){
    .content_slider h2 {
        font-size: 15pt !important;
    }
    .content_slider p {
        font-size: 12pt !important;
    }
    #container-slider .arrowPrev, #container-slider .arrowNext{
        font-size: 20pt;
    }
    #container-slider .arrowPrev{
        left: 15px;
    }
    #container-slider .arrowNext{
        right: 15px !important;
    }
    #slider{
        height: 400px;
        min-height: 400px;
    }
    #slider li .content_slider{
        padding: 10px 35px;
    }
    .btnSlider{
        padding: 10px 30px;
        font-size: 10pt;
    }

}




body{
    height: 100%;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

.cabezera{
    background-color: rgb(30, 0, 68);
    padding: 0;
    max-width: auto;
    margin: auto;
    display: flex;
    height: 500px;
}
.cabezera img{
    width: 600px;
    height: 600px;
    justify-content: right;
    object-fit: cover;
    animation: moverImagen 2s infinite alternate;
}


.contenedor {
    position: relative;
    overflow: hidden;
  }

.estrella {
    position: absolute;
    top: -50px;
    left: 100%;
    width: 40px;
    height: 40px;
    background-color: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    animation: moverEstrella 3s linear infinite;
  }
  @keyframes moverImagen {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }


  @keyframes moverEstrella {
    0% {
      left: 100%;
      top: 20%;
    }
    100% {
      left: -40px;
      top: 80%;
    }
  }

.cabezera h1{
    font-size: 150px;
    color: rgb(255, 255, 255);
    text-decoration: solid;
    padding-top: 130px;
    font-family: "Poppins", serif;
    font-weight: 400;
    animation: colores 6s infinite;
}

@keyframes colores {
    0%{ color: rgb(84, 84, 238);}
    25%{color: rgb(88, 88, 219);}
    50%{color: rgb(127, 143, 233);}
    75%{color: rgb(173, 188, 230);}
    100%{color : rgb(176, 194, 245);}
}
